*{padding: 0;margin: 0}

img {
    width: 100%;
    height: auto;
}
body{
    font-family: sans-serif;
}
h1,h2,h3{font-weight: normal;}
/*////////////header////////////*/
header{
   border-bottom: 2px solid #e5e5e5;
}
.wrapper{
    margin: 0 auto;
    max-width: 1024px;
}

.headerBlock {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 230px;
}

.headerMenu li {
    display: inline;
}

.headerMenu a {
    color: #323332; font-size:110%; font-weight:bolder;
    text-decoration:none; padding: 10px;
}

.headerMenu a:hover {
    color:white; font-weight:bolder;
    background-color:#373737; padding: 10px;
}
.activeLink a{
    color: white; background-color:#373737;
}

/*/////////banner///////////*/

.banner{
    margin-top: 100px;
    margin-bottom: 30px;
}
.bannerBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerBlockText{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    color: #5d5d5d;
}
.bannerBlockTitle{
    font-size: 50px;
}
.bannerBlockSubTitle{
    font-size: 40px;
}
.bannerBlockText a{
    text-decoration:none;
}

.bannerBlockAction{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #373737;
    max-width: 180px;
    padding: 10px;
    font-size: 23px;
    color: white;
    /*width: max-content;*/
}
.bannerBlockAction:hover{
    background: #4c4c4c;
}

.userActionIcon{
    margin-right: 12px;
    width: 33px;
}

.bannerBlockImg{
    width: 700px;
 }

/*////////main content block//////////*/
main{
    display: flex;
    align-items: flex-start;
}
.articalBloks{
    width: 70%;
}

.mainArtical{
    display: flex;
}
.mainArtical__lmg{
    width: 100%;
    min-width: 310px;
    margin-right: 28px;
    position: relative;
    display: block;
}
.mainArtical__lmgIphone{
    position: absolute;
    left: 12%; top: 27%;
    width: 78px;
}
.mainArtical__lmgMonitor{
    position: absolute;
     right: 12%; top: 25%;
    width: 130px;
}
.mainArticalContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.mainArticalContent h2{
    font-size: 30px;
}
.mainArticalContent p{
    text-align: justify;
    padding-right: 25px;
    font-size: 14px;
}
.mainArticalManager img{
    width: auto;
}

.mainArticalManager{
    display: flex;
    margin-left: auto;
}
.mainArticalManager__arrow {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 30px;
    height: 40px;
}
.mainArticalManager__arrow_left{
    background: #7c7c7c;
}
.mainArticalManager__arrow_right {
    background: #989898;
}

.artical{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 40px 0 0 -20px;

}
.articalText{
    margin-left: 20px;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 45px;
 }
.articalText h3{
    font-size: 22px;
}
.articalText p{
    margin-top: 6px;
    font-size: 14px;
}
.articalText p:last-child{
    text-align: justify;
    margin-top: 12px;
}
.siteBar{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.siteBar {
    margin-bottom: 20px;
}
.siteBar_ipagGide{
    /*margin-bottom: 20px;*/

    border: 2px solid #e5e5e5;
    position: relative;
    text-align: center;
    font-size: 18px;
    /*display: block;*/
    height: 260px;
}
.siteBar_ipagGide p {
    padding-top: 15px;
}
.siteBar_ipagGide h2{
    color: #b8dc58;
    font-size: 32px;
}

.siteBar_ipagGide_imgIpad {
    position: absolute;
    left: 30px; bottom: 8px;
    width: 114px;
}
.siteBar_ipagGide_imgIpadMini{
    position: absolute;
    left: 114px; bottom: 5px;
    width: 73px;
}
.siteBar_ipagGide_imgCss{
    position: absolute;
    right: 30px; bottom: 8px;
}

.siteBar_week{
    margin-top: 40px;
    height: 250px;
    position: relative;
    color: white;
    background: #86e7f0;
    font-size:16px ;
    text-align: center;
}

.siteBar_weekCircle{
    position: absolute;
    width: 110px;
    height: 110px;
    top: -25px;
    left: 50%;
   transform: translateX(-50%);
    border-radius: 50%;
    border: white solid 5px;
    background: #ef809f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.siteBar_weekCircle p:first-child{
    font-size: 56px;
    margin-bottom: -8px;
}
.siteBar_weekContent{
    position: absolute;
    bottom: 0;
    font-size: 23px;
}

.siteBar_weekContent h3{
    font-size: 43px;
}
 .button{
    font-size: 18px;
    margin: 10px 0 10px 0;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
   background: #58d1dc;
    border: none;
    color: white;
     display: inline-block;

 }
.button a{
    text-decoration:none;
    color: white;
}

.siteBar_join{
    margin-top: 20px;
    height: 200px;
    background:#393a39 ;
    color: white;
    padding: 23px;
    border-bottom: #bb4465 solid 5px;
}
.siteBar_join h3{
    text-align: center;
    font-size: 22px;
}
.siteBar_join p{
    text-align: justify;
    margin: 10px 0 18px 0;
    font-size: 15px;
}
input{
    color: black;
    font-size: 14px;
    margin-bottom: 12px;
    width: 95%;
    padding: 3px ;
}

div .buttonJoin input{
    font-size: 18px;
    color: white;
    padding: 5px ;
    border:  none;
    border-radius: 5px;
    width:180px;
    text-align: center;
    display: block;
    /*position: relative;*/
    margin:0 auto;
    background: #bb4465;
 }
div .buttonJoin a{
    text-decoration:none;
    color: white;

}
    /*/////////////footer////////////////*/
footer{
    margin-top: 10px;
    background: black; height: 70px;
}
.footerBlock {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footerBlockText{
     color: white;
    font-size: 15px;
    text-align: center;
    flex-grow: 3;
}

.footerBlockNetwork img{
    width: 27px;
}


