*{
    margin: 0;
    padding: 0;
}
body{
    background: #282828;
}

.mainBlock__img{
    margin:  50px auto 0 auto;
    width: 480px;
    height: 520px;
    background: white;
    position: relative;
}
.blockRed, .blockGreen, .blockBlue, .blockYellow{
    position: absolute;
    width: 220px;
    height: 220px;
}
.blockRed{
    background: red;
    top: 10%;
    left: 10%;
    z-index: 1;
}
.blockRed:hover{
    z-index: 10;
}
.blockRed:hover .circle div{
    display: initial;
}

.blockGreen{
    background: #54ff00;
    top: 15%;
    right: 10%;
    z-index: 2;
}
.blockGreen:hover{
    z-index: 10;
}
.blockGreen:hover .circle div{
    display: initial;
}

.blockBlue{
    background: blue;
    bottom: 15%;
    left: 7%;
    z-index: 3;
}
.blockBlue:hover{
    z-index: 10;
}
.blockBlue:hover .circle div{
    display: initial;
}

.blockYellow{
    background: yellow;
    bottom: 10%;
    right: 7%;
    z-index: 4;
}
.blockYellow .circle div{
    display: initial;
}

.circle{
    position: absolute;
    background: #2c3e50;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 7%;
    right: 10%;
    transition: all 5s;
}

.circle:hover{
     transform: rotate(720deg);
}

.circle div{
    position: absolute;
    width: 80%;
    height: 5px;
    background: black;
    right: 10%;
    bottom: 45%;
    display: none;
}
.circle div:first-child{
    transform: rotate(50deg);
}
.circle div:last-child{
    transform: rotate(140deg);
}
