@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*не изменяется после падингов*/ }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }
h1, h2, h3, h4, h5{letter-spacing:1px;}
body {
  font-family: 'Roboto', sans-serif;

}

.wrapper {
  margin: 0 auto;
  max-width: 1024px; }
.relativ{
    position: relative;
}
.hr {
  margin-top: 2%;
  width: 60px;
  border: none;
  height: 1px;
  background-color: #00e0d0;
  text-align: center;
  position: relative;
  left: 47%; }

.headerSlider {
  background-image: url("../img/headerImg.png");
  background-size: cover;
  position: relative;

}
.headerSlider:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 24, 73, 0.87);
}


.headerBlock {
  padding: 12px 15px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.headerBlockLogo {
  display: flex;
  justify-content: right;
  align-items: center;
  width: calc(100%/12*2); }
  .headerBlockLogo__img {
    max-width: 44px; }
  .headerBlockLogo__text {
    margin-left: 20px;
    font-size: 28px;
    color: #00e0d0; }

.headerBlockMenu {
  width: calc(100%/12*8);
  text-align: right; }
  .headerBlockMenu__burger {
    color: #00e0d0;
    display: none; }
  .headerBlockMenu__li {
    display: inline-block;
    color: white;
    font-size: 12px;
    padding: 1.5%; }
    .headerBlockMenu__li a {
      color: white;
      text-decoration: none; }
    .headerBlockMenu__li-active a, .headerBlockMenu__li a:hover {
      color: #00e0d0; }
  @media screen and (max-width: 770px) {
    .headerBlockMenu {
      width: calc(100%/12*4); }
      .headerBlockMenu ul {
        display: none; }
      .headerBlockMenu__burger {
        display: block; }
      .headerBlockMenu:hover ul {
        display: flex;
        flex-direction: column; }
      .headerBlockMenu__li:hover {
        display: flex;
        flex-direction: column; } }

.slider {
  height: 90%;
  text-align: center;
  color: white; padding-bottom: 5%}

.sliderBlock__h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 900;
  margin-top: 15%; }

.sliderBlock__p {
  margin-top: 2%;
  font-size: 15px;
  padding: 0 12%;
  line-height: 2; }

.buttonLearnMore {
  background-color: Transparent;
  border: #00e0d0 solid 1px;
  cursor: pointer;
  padding: 10px;
  color: #00e0d0;
  border-radius: 5%;
  margin-top: 3%;
    font-weight: bold;
}

.sliderBlockSwitch {
  margin-top: 13%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sliderBlockSwitch__circle {
    width: 10px;
    height: 10px;
    border: white solid 1px;
    border-radius: 50%;
    margin: 5px; }
    .sliderBlockSwitch__circle-active {
      border: #00e0d0 solid 1px;
      background: #00e0d0; }
    .sliderBlockSwitch__circle:hover {
      cursor: pointer; }

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0.5%; }
  .aboutContent__logo {
    padding-left: 8.3%;
    height: 25%;
    width: 100%; }
  .aboutContent__text h2 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    margin-bottom: 5%; }
  .aboutContent__text p {
    margin-bottom: 5%;
    font-size: 14px; }

/*.aboutVideo {*/
  /*position: relative;*/
  /*background: rgba(29, 24, 73, 0.87);*/
  /*height: 500px;*/
  /*color: #ffffff;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center; }*/
  /*.aboutVideo__img {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*right: 0;*/
    /*top: 0;*/
    /*z-index: -100;*/
    /*height: 500px; }*/

.aboutVideo {
  background-image: url("../img/aboutCity.png");
  background-size: cover;
  position: relative;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  color: #ffffff;
  text-align: center;
  padding: 15% 1%;
}
.aboutVideo:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 24, 73, 0.87);
}

  .aboutVideo__play {
    margin-bottom: 2%; }
    .aboutVideo__play:hover {
      cursor: pointer; }

.expertiseBlock {
  margin: 5% 1%;
  text-align: center; }
  .expertiseBlock__title {
    font-family: "Playfair Display", serif; }
    .expertiseBlock__title p {
      font-size: 14px;
      margin-top: 1%; }
    .expertiseBlock__title .hr {
      height: 1px;
      background-color: #c6c4c9; }

.expertiseBlock__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  .expertiseBlock__item .hrExpertiseBlock, .expertiseBlock__item .hrExpertiseBlock1, .expertiseBlock__item .hrExpertiseBlock2 {
    height: 1px;
    border: none;
    background-color: #ebebeb;
    margin: 0 3% 0 3%;
    width: 94%;
    top: 56%;
    position: absolute;
    text-align: center; }
  .expertiseBlock__item .hrExpertiseBlock1 {
    display: none;
    top: 35%; }
  .expertiseBlock__item .hrExpertiseBlock2 {
    display: none;
    top: 70%; }
  @media screen and (max-width: 770px) {
    .expertiseBlock__item .hrExpertiseBlock {
      display: none; }
    .expertiseBlock__item .hrExpertiseBlock1, .expertiseBlock__item .hrExpertiseBlock2 {
      display: block; } }
  @media screen and (max-width: 450px) {
    .expertiseBlock__item .hrExpertiseBlock, .expertiseBlock__item .hrExpertiseBlock1, .expertiseBlock__item .hrExpertiseBlock2 {
      display: none; } }

.expertiseBlockItem {
  width: 29%;
  margin: 5% 2% 0 2%;
  padding: 0 2%; }
  .expertiseBlockItem__img {
    font-size: 50px;
    color: #00e0d0; }
.expertiseBlockItem__i {
  font-size: 50px;
  color: #00e0d0; }
  .expertiseBlockItem__h5 {
    margin-top: 5%;
    color: black; }
  .expertiseBlockItem__text {
    margin-top: 5%;
    font-size: 13px;
    color: #8f8f8f; }
  @media screen and (max-width: 770px) {
    .expertiseBlockItem {
      width: 46%; } }
  @media screen and (max-width: 450px) {
    .expertiseBlockItem {
      width: 96%; } }

/*.team {*/
  /*background: rgba(29, 24, 73, 0.87);*/
  /*position: relative;*/
  /*min-height: 500px;*/
  /*display: block; }*/
  /*.team__img {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*right: 0;*/
    /*height: 100%; }*/
.team {
  background-image: url("../img/teamImg.png");
  background-size: cover;
  position: relative;

}
.team:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 24, 73, 0.87);
}
.teamBlock {
  padding: 5% 0 0.1% 0;
  text-align: center;
  color: white; }
  .teamBlock__title {
    font-family: "Playfair Display", serif; }
    .teamBlock__title p {
      font-size: 14px;
      margin-top: 1%; }
    .teamBlock__title .hr {
      height: 1px;
      background-color: #c6c4c9; }
  .teamBlock__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 3%; }
  .teamBlock__button {
    margin: 3% 0 7% 0;
    text-align: center;
    font-size: 13px; }

.teamBlockItem {
  margin: 2% 1%;
  width: 23%; }
  .teamBlockItem__img {
    width: 100%; }
  .teamBlockItem__text {
    margin-top: -2%;
    padding: 7%;
    font-size: 13px;
    border: #7d7991 solid 1px; }
    .teamBlockItem__text p:first-child {
      font-size: 14px;
      font-weight: bold;
      margin: 1%; }
  @media screen and (max-width: 770px) {
    .teamBlockItem {
      margin: 4% 1%;
      width: 42%; } }
  @media screen and (max-width: 450px) {
    .teamBlockItem {
      margin: 5% 1%;
      width: 70%; } }

.worksTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 2%; }
  .worksTitle__h3 {
    font-family: "Playfair Display", serif; }
  .worksTitle__text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px; }
    .worksTitle__text img {
      margin-left: 10px; }
      .worksTitle__text img:hover {
        cursor: pointer; }

.worksItems {
  margin: 2% 0 2% 0;
  display: flex;
  flex-wrap: wrap; }
  .worksItems__img {
    width: 16.66%; }
    @media screen and (max-width: 900px) {
      .worksItems__img {
        width: 25%; } }
    @media screen and (max-width: 600px) {
      .worksItems__img {
        width: 50%; } }
    @media screen and (max-width: 320px) {
      .worksItems__img {
        width: 100%;
        margin: 0 1%; } }

.worksBottom {
  text-align: center;
  margin-bottom: 5%; }

/*////////////////////////////////*/
/*.testimonial {*/
  /*background: rgba(29, 24, 73, 0.87);*/
  /*position: relative;*/
  /*min-height: 400px;*/
  /*display: block; }*/
/*.testimonial__img {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*z-index: -1;*/
  /*top: 0;*/
  /*right: 0;*/
  /*height: 100%; }*/
.testimonial {
  background-image: url("../img/testimonialImg.png");
  background-size: cover;
  position: relative;

}
.testimonial:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 24, 73, 0.87);
}
.testimonialBlock{
  padding: 7% 0;
  text-align: center;
  color: white;
}

.testimonialBlock__img{
     width: 5%;
}

.testimonialBlock__text{
  margin: 4% 9%;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.testimonialBlockImg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.testimonialBlockImg div{
    font-size: 20px;
    font-family: "Arial", serif;
}
.testimonialBlock__person{
  font-size: 13px;
  margin: 2% 0;

}
.testimonialBlock__person div:first-child{
  font-size: 13px;
  font-weight: bold;
  margin: 0.7% 0;
}
.testimonialBlockImg img{
  margin:0 1%;
}
.testimonialBlockImg img:first-child,img:last-child:hover{
  cursor: pointer;
}

.contactBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
    padding: 5% 1%;

}
.contactBlockForm{
  width: 48%;
  margin: 1%;
}
.contactBlockForm h3{
    margin: 1% 0 4% 0;
}

.contactBlockForm input, textarea{
    margin: 2% 0;
    width: 100%;
    height: 40px;
    border: #c6c4c9 solid 1px;

    padding-left: 3%;
}
.contactBlockForm textarea {
    height: 130px;
    margin-top: 2%;
    padding: 3%;
}

.contactBlockForm button{
    width: 150px;
}

.contactBlock__client{
    width: 40%;
    margin: 1%;
}
.contactBlockClient{
    margin: 3% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: stretch;*/
}

.contactBlockClient__item{
  width: 44%;
  margin: 3% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.contactBlockClient__item img{
    margin: 7% 2%;
}
@media screen and (max-width: 770px){
    .contactBlock{
        justify-content: center;
    }
    .contactBlockForm{
        width: 70%;
    }
    .contactBlockForm h3, .contactBlock__client h3{
        text-align: center;
    }
    .contactBlock__client{
        margin-top: 5%;
        width: 70%;
    }
    .contactBlockClient div:first-child{
        margin-right: 8%;
    }
}
@media screen and (max-width: 330px){
    .contactBlockForm{
        width: 80%;
    }
    .contactBlock__client{
        margin-top: 5%;
        width: 80%;
        justify-content: center;
    }
    .contactBlockClient{
        margin-top: 5%;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
    }
    .contactBlockClient__item{
        width: 80%;
    }
}


footer {
    background-image: url("../img/footerImg.png");
    background-size: cover;
    position: relative;

}
footer:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(29, 24, 73, 0.87);
}
.footerBlock{
    padding: 5% 0;
    margin: 0 2% 5% 2%;
    color: white;
}
.footerBlock__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}
.footerBlockItem{
    width: 31%;
    font-size: 14px;
    line-height:2;
}
.footerBlockItem__text{
    margin-top: 2%;
    font-size: 14px;

    padding-right: 5%;
}
.footerBlockItem h4{
    padding-top: 6%;
    font-size: 15px;
    /*letter-spacing: 1px;*/
}

.footerBlockItemCenter{
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerBlockItemCenter__img{
    width: 10%;
    padding: 1% 2%;
}
.footerBlockItemCenter__text{
    width: 90%;
    padding:0 3%;
}

.footerBlockItemRightSubscribe{
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;

}
.footerBlockItemRightSubscribe__input{
    width: 95%;
    /*border: red solid 1px;*/
}
.footerBlockItemRightSubscribe__input input{
    width: 100%;
    height: 93%;
    background-color: Transparent;
    border:#9d97b0 solid 1px;
    padding-left: 5%;
}
.footerBlockItemRightSubscribe__button{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 3%;
    /*height: 45px;*/
    /*background-image: url("../img/Btn.png");*/
    /*opacity:0.3;*/
}
.footerBlockItemRightSubscribe__button img{
    opacity: 0.4;
}
.footerBlockItemRightSocial{
    margin-top: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footerBlockItemRightSocial__item{
    margin-right: 2%;
}

.footerBlock__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 5%;
    /*padding-bottom: 5%;*/
}

.footerBlockBottomLeft{
    width: 55%;

}
.footerBlockBottomLeft__hr{
    width: 80%;
    height: 1px;
    border: none;
    background: white;
    display: none;
}
.footerBlockBottomLeft__li{
    display: inline-block;
    padding-right: 8%;
}
.footerBlockBottomLeft__li a{
    color: white;
    text-decoration: none;
    /*margin-right: 1%;*/
}

@media screen and (max-width: 770px){
    .footerBlock__item{
        justify-content: space-around;
    }
   .footerBlockItem__right{
       width: 70%;
   }
   .footerBlockItem__right h4{
       text-align: center;
   }
   .footerBlockItemRightSocial,
   .footerBlockItemRightSubscribe{
       margin-top: 2%;
   }
}
@media screen and (max-width: 600px){
    .footerBlock__bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
.footerBlockBottomLeft__hr{
    display: inline;
}
    .footerBlockBottomLeft{
        width: 100%;

    }
    .footerBlockBottomLeft__li{
        padding-right: 3%;
        text-align: center;
    }

}


/*#f4f3f6*/